.carousel {
  &-inner {
    position: relative;
    overflow: hidden;
  }

  &-item {
    width: 100%;

    &.active {
      animation-name: faded;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }

    &:not(.active) {
      display: none;
    }
  }

  &-control {
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px $primary;
    background-color: $dark;
    color: $primary;
    font-weight: bold;

    &:hover {
      box-shadow: 0 0 2px 2px $white;
      background-color: $dark;
      color: $white;
    }
  }
}

@keyframes faded {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
