section#landing {
  min-height: 100vh;
  position: relative;
  transition: 0.5s;
  z-index: -1;

  &.scrolled {
    transition: 0.5s;

    &::after {
      display: none !important;
      transition: 0.5s;
    }
  }

  &::before {
    content: 'CY Kalu';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: start;
    font-family: $font-mono;
    font-size: 200px;
    font-weight: bolder;
    line-height: 140px;
    letter-spacing: -50px;
    color: lighten($secondary, 40%);
    opacity: 0.07;
    overflow: hidden;
  }

  .col:first-child {
    width: 100%;

    @include breakpoint-and-up('md') {
      width: 70%;
    }

    @include breakpoint-and-up('lg') {
      width: 50%;
    }

    .mega-title {
      font-size: 4em;
      color: $white;
      opacity: 0.9;

      @include breakpoint-and-up('md') {
        font-size: 5em;
      }
    }

    .short-intro {
      font-size: 20px;
      color: lighten($secondary, 15%);
    }
  }

  #experiment {
    writing-mode: vertical-rl;
    width: 100%;
    height: 150px;
  }

  // Background objects
  @for $i from 1 through 20 {
    .bg-drop-#{$i} {
      position: absolute;
      z-index: -1;
      box-shadow: -1px -1px 1px 0px rgb(34, 34, 34), 2px 2px 2px 0 rgba(0, 0, 0, 0.692);
      @include celestial-body();
      @if $i > 2 {
        @media (max-width: 767px) {
          display: none;
        }
      }
      @if $i > 4 {
        @media (max-width: 991px) {
          display: none;
        }
      }

      &::after {
        // display: none;
        content: '';
        position: absolute;
        padding: unquote('#{random() + 0.3}rem');
        width: 2px;
        height: 100%;
        top: -300%;
        left: calc(50% - 2px);
        background: lighten($dark, random(5));
        z-index: -1;
      }
    }
  }
}
