@keyframes scale-bounce {
  0%,
  100% {
    transform: rotate(10deg) scale(0.9) translateY(-50%);
  }
  50% {
    transform: rotate(10deg) scale(1) translateY(-40%);
  }
}

@include media-breakpoint-up("md") {
  @keyframes scale-bounce {
    0%,
    100% {
      transform: rotate(10deg) scale(0.9) translateY(-10%);
    }
    50% {
      transform: rotate(10deg) scale(1) translateY(-5%);
    }
  }
}

// Social icons slide up
@keyframes socials-slide-up {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}

// Email contact slide down
@keyframes contact-slide-down {
  from {
    top: -100%;
    z-index: -2;
  }

  to {
    top: calc(#{$header-height} + 5rem);
    z-index: -1;
  }
}
