@keyframes scale-bounce {
  0%,
  100% {
    transform: rotate(10deg) scale(0.9) translateY(-50%);
  }
  50% {
    transform: rotate(10deg) scale(1) translateY(-40%);
  }
}

@include media-breakpoint-up("md") {
  @keyframes scale-bounce {
    0%,
    100% {
      transform: rotate(10deg) scale(0.9) translateY(-10%);
    }
    50% {
      transform: rotate(10deg) scale(1) translateY(-5%);
    }
  }
}

// Slide up
@keyframes slide-up {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}
