@keyframes signal {
  0% {
    box-shadow: 0 0 4px 4px lighten($warning, 40%);
  }

  50% {
    box-shadow: 0 0 0 16px lighten($warning, 20%),
      0 0 0 32px lighten($warning, 30%), 0 0 0 48px lighten($warning, 40%);
  }

  75% {
    box-shadow: 0 0 0 8px lighten($warning, 20%),
      0 0 0 16px lighten($warning, 30%), 0 0 0 32px lighten($warning, 40%);
  }

  100% {
    box-shadow: 0 0 4px 4px lighten($warning, 40%);
  }
}

@keyframes glow {
  0%,
  100%,
  90% {
    box-shadow: 0 0 0 1px $primary;
    background-color: $dark;
    color: $primary;
  }

  50% {
    // color: #07080a;
    box-shadow: 0 0 2px 1px lighten($dark, 30);
    background-color: $primary;
    color: $dark;
  }
}

@keyframes doorSlideLeft {
  100% {
    left: -50%;
  }
}

@keyframes doorSlideRight {
  100% {
    right: -50%;
  }
}
