#header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: 0.5s;

  @include breakpoint-and-up("md") {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar {
    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-avatar {
      display: flex;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      position: relative;
      border: none;
      border-radius: 50%;
      box-shadow: -1px 1px 0 2px lighten($primary, 5%), 1px -1px 0 2px darken($dark, 100%);
      user-select: none;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 0 3px lighten($primary, 5%);

        &::after {
          content: "Hire me 😎";
          position: absolute;
          width: 100px;
          display: inline-flex;
          align-items: center;
          top: 30%;
          left: calc(100% + 0.5rem);
          font-family: $font-mono;
          font-size: 14px;
          line-height: 1;
          background: $dark;
          border-radius: 20px;
          padding: 0.25rem 0.5rem;
          box-shadow: 1px 1px 0 2px lighten($dark, 50%);
        }
      }

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition: 0.3s;
        background: $white;

        @include breakpoint-and-up("md") {
          width: 60px;
          height: 60px;
        }
      }
    }

    // Navigation menu
    .navbar-menu {
      // Menu toggler
      #navbar-menu-toggler {
        background: none;
        border: none;
        padding: 0.25rem;
        transition: 0.3s;
        cursor: pointer;

        @include breakpoint-and-up("md") {
          display: none;
        }

        span {
          display: flex;
          height: 0.25rem;
          width: 4rem;
          border-radius: 10px;
          transition: 0.3s;
          margin-left: auto;
          margin-right: auto;
        }

        span:nth-child(2) {
          margin-top: 0.3rem;
          margin-bottom: 0.3rem;
        }
      }

      .navbar-nav {
        width: 70vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 3rem);
        right: -1rem;
        border-radius: 10px 0 0 10px;
        padding: 2rem 0 2rem 2rem;
        box-shadow: -2px -2px 0 2px $white;
        background-image: linear-gradient(-45deg, darken($secondary, 25%) 20% 35%, $dark 100%);
        animation: slide-in 0.3s linear;

        // Navbar collapse menu
        &.navbar-collapse {
          display: none;

          @include breakpoint-and-up("md") {
            display: flex;
          }

          &.show {
            display: flex;
          }
        }

        .nav-item:not(:last-child) {
          margin-bottom: 1.5rem;
          margin-left: auto;

          @include breakpoint-and-up("md") {
            margin-left: unset;
          }
        }

        .nav-item.nav-social {
          justify-content: start;
          align-items: center;

          // Navbar social icons
          .social-link {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            border-radius: 50%;
            box-shadow: 5px 5px 0 #07090a, -5px -5px 0 #1d2328, -6px -6px 0 #333b42;
            border: 1px solid lighten($dark, 15);
            background: $dark;
            color: $white;
            transition: 0.3s;

            &:not(:last-child) {
              margin-right: 0.5rem;
            }

            &:active,
            &:focus,
            &:hover {
              background: $white;
              color: $dark;
            }
          }
        }

        .nav-link {
          padding: 0.5rem 2.5rem;
          margin-left: auto;
          background: $secondary;
          color: $dark;
          border-radius: 0.25rem 0 0 0.25rem;
          text-decoration: none;
          font-family: $font-primary;
          font-size: 20px;
          font-weight: 600;
          user-select: none;
          transition: 0.3s;
          box-shadow: 0 0 0 3px $dark, -4px -4px 0 3px $primary;

          &:active,
          &:hover {
            color: $dark;
            background: darken($secondary, 20%);
          }

          @include breakpoint-and-up("md") {
            &:last-child {
              border-top-right-radius: 0.25rem;
              border-bottom-right-radius: 0.25rem;
            }
          }
        }

        // From medium screen and up
        @include breakpoint-and-up("md") {
          padding: 0;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          position: initial;
          animation: unset;
          right: initial;
          top: initial;
          background: initial;
          box-shadow: initial;

          &:active,
          &:focus,
          &:hover {
            padding-left: initial;
          }

          .nav-item {
            width: initial;
            margin-bottom: 0 !important;
          }

          .nav-item.nav-social {
            margin-left: 1rem;
            justify-content: start;
            align-items: center;
          }

          .nav-link {
            font-size: 18px;
          }
        }
      }
    }
  }
}
