section#landing {
  min-height: 100vh;
  position: relative;
  transition: 0.5s;
  z-index: -1;

  &.scrolled {
    transition: 0.5s;

    &::after {
      display: none !important;
      transition: 0.5s;
    }
  }

  &::before {
    content: 'Welcome';
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: start;
    font-family: $font-mono;
    font-size: 160px;
    font-weight: bolder;
    line-height: 120px;
    letter-spacing: -20px;
    opacity: 0.4;
    overflow: hidden;

    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg, $white 20%, darken($grey, 40%) 30%);
    background: -webkit-linear-gradient(45deg, $white 10%, rgb(71, 71, 71) 20%);
  }

  .col:first-child {
    width: 100%;

    @include breakpoint-and-up('md') {
      width: 70%;
    }

    @include breakpoint-and-up('lg') {
      width: 50%;
    }

    .mega-title {
      font-size: 4em;
      color: $white;

      @include breakpoint-and-up('md') {
        font-size: 5em;
      }
    }
  }
}
