@mixin breakpoint-and-up($value) {
  @each $screen, $bp in $media-min-breakpoints {
    @if $screen == $value {
      @media (min-width: $bp) {
        @content;
      }
    }
  }
}

@mixin celestial-body() {
  $size: random(4);
  width: #{$size}rem;
  height: #{$size}rem;
  top: unquote('#{random(100)}%');
  left: unquote('#{random(50) + 50}%');
  border: 1px solid lighten($dark, random(35));
  animation-name: appear;
  animation-duration: unquote('#{random(2)}s');
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: unquote('#{random() + 0.5}s');
}
