$primary: dodgerblue;
$enable-transitions: false;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  // xxl: 1320px, // not used
) !default;
$header-height: 61px;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "./animations";

button,
.btn {
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
}

// Navbar =====================================

.avatar-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.navbar-toggler {
  transition: 0.3s;
  font-size: 40px;

  &[aria-expanded="true"] {
    color: $primary !important;
  }
}

#navbar-content {
  @include media-breakpoint-down("sm") {
    position: absolute;
    min-width: 60vw;
    max-width: 90vw;
    padding: 1rem 1.5rem 4rem;
    top: 66px;
    right: 1rem;
    background-color: $white;
    border: 2px solid $gray-800;
    border-radius: 1rem;
    box-shadow: -0.5rem 0.5rem 0 0 $gray-600;
  }

  & .nav-link {
    @include media-breakpoint-down("sm") {
      font-size: 18px;
      border-bottom: 1px solid $gray-200;
      color: $dark;
    }
  }
}

// Intro section

.intro-section {
  min-height: calc(100vh - #{$header-height});
}

// Miscellaneous components =====================================

// Floating widgets
.floating-socials,
.floating-contact {
  ::after {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: lighten($color: $secondary, $amount: 40%);
  }
}

// floating social media icons
.floating-socials {
  bottom: -100%;
  animation: socials-slide-up 1s ease-in 0.3s forwards;

  @each $screen, $width in $container-max-widths {
    @include media-breakpoint-up($screen) {
      left: calc(((100vw - #{$width}) / 2) * 0.7);
    }
  }

  ::after {
    height: calc(100% + 5rem);
    top: 0;
  }

  .nav-link {
    width: 40px;
    height: 40px;
    display: flex;
    place-content: center;
    place-items: center;
    color: $dark;
    font-size: 1.25rem;
    transition: all 0.3s;

    &:hover {
      background-color: $black;
      color: $white !important;
    }
  }
}

// Floating contact info
.floating-contact {
  top: -100%;
  writing-mode: vertical-lr;
  animation: contact-slide-down 1s ease-in forwards;
  top: calc(#{$header-height} + 5rem);

  @each $screen, $width in $container-max-widths {
    @include media-breakpoint-up($screen) {
      right: calc(((100vw - #{$width}) / 2) * 0.7);
    }
  }

  ::after {
    top: -100%;
  }
}

#call-to-action {
  width: 60px;
  height: 60px;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 50%;
  transform: rotate(40deg);
  font-size: 40px;
  animation: signal 5s linear infinite;
}

// Utilities =====================================
.font-mono {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace !important;
}

%text-clip {
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
