$primary: dodgerblue;
$enable-transitions: false;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  // xxl: 1320px, // not used
) !default;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

button,
.btn {
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
}

.avatar-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  @include media-breakpoint-up("md") {
    width: 60px;
    height: 60px;
  }
}

// Navbar
.navbar-toggler {
  transition: 0.3s;

  &[aria-expanded="true"] {
    color: $primary !important;
  }
}

#navbar-content {
  @include media-breakpoint-down("sm") {
    position: absolute;
    min-width: 60vw;
    max-width: 90vw;
    padding: 1rem 1.5rem 4rem;
    top: 66px;
    right: 1rem;
    z-index: 1;
    background-color: $white;
    border: 2px solid $gray-800;
    border-radius: 1rem;
    box-shadow: -0.5rem 0.5rem 0 0 $gray-600;
  }

  & .nav-link {
    font-variant: small-caps;

    @include media-breakpoint-down("sm") {
      border-bottom: 1px solid $gray-200;
    }
  }
}

// Micellaneous components
.hello-pop {
  position: absolute;
  top: -100%;
  right: 0%;
  padding: 0.75rem 1rem;
  background-color: $dark;
  border-radius: 5px;
  box-shadow: -0.5rem 0.5rem 0.75rem 1px $gray-600;
  font-weight: 300;
  transform: rotate(10deg);

  &::after {
    content: "";
    position: absolute;
    top: 98%;
    right: 10%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $dark;
  }
}

// Utilities
.font-mono {
  font-family: "JetBrains Mono", monospace !important;
}
