$primary: #00aeff;
$success: #00ffbb;
$dark: #021530;
$enable-transitions: false;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  // xxl: 1320px, // not used
) !default;
$header-height: 61px;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "./animations";

html {
  background-color: $black;
}

button,
.btn {
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
}

/*
  NAVBAR =====================================
*/

.avatar-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.navbar-toggler {
  transition: 0.3s;
  font-size: 40px;

  &[aria-expanded="true"] {
    color: $primary !important;
  }
}

#navbar-content {
  @include media-breakpoint-down("sm") {
    position: absolute;
    min-width: 60vw;
    max-width: 90vw;
    padding: 1rem 1.5rem 4rem;
    top: 66px;
    right: 1rem;
    background-color: $white;
    border: 2px solid $gray-800;
    border-radius: 1rem;
    box-shadow: -0.5rem 0.5rem 0 0 $gray-600;
  }

  & .nav-link {
    @include media-breakpoint-down("sm") {
      font-size: 18px;
      font-weight: normal;
      border-bottom: 1px solid $gray-200;
      color: $dark;
    }
  }
}

/*
  INTRO SECTION =====================================
*/

#intro-container {
  min-height: calc(100vh - #{$header-height});
  position: relative;

  &::after {
    content: "Welcome";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    font-family: "JetBrains Mono", monospace;
    font-size: calc(100vh * 0.2);
    font-weight: bolder;
    line-height: 120px;
    letter-spacing: -20px;
    opacity: 0.4;
    overflow: hidden;
    background: linear-gradient(
      45deg,
      lighten($primary, 30%) 20%,
      lighten($primary, 10%) 30%
    );
    background: -webkit-linear-gradient(
      45deg,
      lighten($primary, 30%) 20%,
      lighten($primary, 10%) 30%
    );
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
}

.bg-img-circuit {
  background-image: url(/assets/static/images/circuit.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include media-breakpoint-up("md") {
    background-size: contain;
  }
}
/*
  MISCELLANEOUS =====================================
*/

#call-to-connect {
  width: 60px;
  height: 60px;
  display: flex;
  place-content: center;
  place-items: center;
  border: 2px solid $white;
  border-radius: 50%;
  transform: rotate(40deg);
  font-size: 40px;
  animation: signal 5s linear infinite;
}

#call-to-scroll {
  padding: 1rem 0.25rem;
  border: none;
  position: fixed;
  z-index: $zindex-tooltip;
  left: 50%;
  bottom: 0.75rem;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 0 0 1px #51a9ff;
  transition: 0.5s;
  animation: glow 5s linear infinite alternate;
}

#intro-name {
  font-size: 5rem;

  @include media-breakpoint-up("sm") {
    font-size: 6rem;
  }

  @include media-breakpoint-up("md") {
    font-size: 7.5rem;
  }
}

/*
  BUTTONS ===========================================
*/
.btn-classic {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  border-radius: 50%;
  padding: 6px;
  text-decoration: none;
  box-shadow: -8px -8px 1px -4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.3s;

  & .bi {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 1.5rem;
    color: $secondary;
    transition: 0.3s;
  }

  &:hover {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: 0.3s;

    & .bi {
      color: $black;
    }
  }
}

/*
  UTILITIES =====================================
*/

.zindex-1 {
  z-index: 1;
}

.lh-2 {
  line-height: 1.25;
}

.place-center {
  place-content: center;
  place-items: center;
}

.box-200 {
  width: 200px;
  height: 200px;
}

.shadow-dark-sm {
  box-shadow: 4px 4px 0 1px $dark;
}

.shadow-dark-md {
  box-shadow: 8px 8px 0 1px $dark;
}

/*
  TEXTS =====================================
*/
%text-clip {
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

/*
  FONTS
  =====================================
  Used Google Fonts:
  - https://fonts.google.com/
  - 'JetBrains Mono', monospace;
  - 'Shadows Into Light', cursive;
*/
.font-mono {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace !important;
}

.font-handwriting {
  font-family: "Shadows Into Light", cursive !important;
}
