@import 'variables';
@import 'mixins';

// Menu-open class for body
body.menu-open {
  height: 100vh;
  overflow: hidden;
}

section {
  background-color: $dark;
}

// Pad sections on the top to give enough space to fixed heder
.pt-header-justice {
  padding-top: 61px;
  @include breakpoint-and-up('md') {
    padding-top: 92px;
  }
}

// Call to scroll button
#call-to-scroll {
  padding: 1rem 0.25rem;
  border: 1px solid $dark;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 0.75rem;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 0 0 1px lighten($primary, 10%);
  transition: 0.5s;
  animation: rays 5s linear infinite alternate;
}

// About section columns
#about {
  .row {
    justify-content: space-between;
    .col {
      width: 100%;

      &:first-child {
        @include breakpoint-and-up('md') {
          width: 50%;
        }
      }

      &:nth-child(2) {
        @include breakpoint-and-up('md') {
          width: 45%;
          min-height: 420px;
        }
      }
    }
  }
}

// Contact section
#contact {
  @include breakpoint-and-up('md') {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row {
    display: grid !important;
    grid-gap: 2rem;
    grid-template-columns: auto;
    align-items: center;
    @include breakpoint-and-up('md') {
      grid-template-columns: auto auto;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
  }
}

// Footer
#footer {
  .container {
    border-radius: 5px 5px 0 0 !important;
    background: lighten($dark, 3%);
  }
}

@import 'defaults';
@import 'components';
@import 'header';
@import 'animations';
@import 'landing';
@import 'forms';
@import 'utilities';
