<section class="container pt-header-justice pb-md-4" id="about">
    <div class="row mt-5">
        <div class="col mb-5 mb-md-0">
            <h2 class="font-default text-white fs-48 fw-bolder">What I Do</h2>

            <p class="lh-normal text-clip text-gradient-3 text-grey fs-18 ff-default fw-light mb-3">
                I can help you build smart digital products and web applications with
                high-end proficiency in modern web technologies. I love to transform
                ideas into functional computer software.
            </p>
            <p class="lh-normal text-grey fs-18 ff-default fw-light">
                I am currently open to new job opportunities - I look forward to working and learning with ambitious
                teams
                that provide room for personal and professional growth and mentorship. I am also open to connections and
                conversations about business and startups.. <br><br>
                If you think I'm a good fit for your team, please
                <a class="d-inline-flex px-3 bg-grey text-dark fw-bold" href="#contact">Get in touch</a>
            </p>
        </div>
        <div class="col">
            <div class="stack-collection mb-3">
                <a class="stack-toggler active fw-bold fs-20" href="#">
                    Languages
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="stack-group mt-3 show">
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-python-plain mr-2 mr-md-0 mb-md-2"></i>
                        Python
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-ruby-plain mr-2 mr-md-0 mb-md-2"></i>
                        Ruby
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-javascript-plain mr-2 mr-md-0 mb-md-2"></i>
                        Javascript
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-html5-plain mr-2 mr-md-0 mb-md-2"></i>
                        HTML
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-css3-plain mr-2 mr-md-0 mb-md-2"></i>
                        CSS
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-sass-original mr-2 mr-md-0 mb-md-2"></i>
                        SASS
                    </li>
                </ul>
            </div>
            <div class="stack-collection mb-3">
                <a class="stack-toggler fw-bold fs-20" href="#">
                    Frameworks
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="stack-group mt-3">
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-django-plain mr-2 mr-md-0 mb-md-2"></i> Django
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-rails-plain mr-2 mr-md-0 mb-md-2"></i> Rails
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-react-original mr-2 mr-md-0 mb-md-2"></i> React
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-redux-original mr-2 mr-md-0 mb-md-2"></i> Redux
                    </li>
                    <li class="stack-item fs-18 px-2 py-3">
                        <i class="devicon-bootstrap-plain mr-2 mr-md-0 mb-md-2"></i> Bootstrap
                    </li>
                </ul>
            </div>
            <div class="stack-collection mb-3">
                <a class="stack-toggler fw-bold fs-20" href="#">
                    Skills
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="stack-group mt-3">
                    <li class="stack-item px-2 py-3">
                        Backend
                    </li>
                    <li class="stack-item px-2 py-3">
                        Frontend
                    </li>
                    <li class="stack-item px-2 py-3">
                        Collaboration
                    </li>
                    <li class="stack-item px-2 py-3">
                        Remote coding
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>