<section class="container pt-header-justice pb-md-4" id="about">
  <div class="row mt-5">
    <div class="col mb-5 mb-lg-0">
      <h2 class="font-default text-white fs-48 fw-bolder">About Me</h2>

      <article class="text-white fs-18 fw-light">
        <p class="mb-3">
          An unending curiosity and a <b class="text-clip text-gradient-2 fw-bold">flaming</b> passion for creativity
          is my most potent drive. I once learned that I could edit the contents of a website in real-time through the
          Developer Tools; the most intriguing part for me was getting instant results. This intrigue drove me to learn
          of the endless possibilities of computer programming, for which I determined to pursue a career in Software
          Development.
        </p>

        <p class="mb-3">
          In my continual craving for self-improvement and to stretch my knowledge, I have covered several learning
          materials from renowned practitioners in the field through mostly e-learning.
        </p>

        <p class="mb-3">
          I can help you build smart digital products, web applications, or custom software with high-end proficiency in
          modern web
          technologies. I am a flexible individual who can learn and adapt very quickly.
        </p>
      </article>

      <p>
        <a class="d-inline-flex px-3 bg-grey text-dark fw-bold" href="#contact">Let's connect</a>
      </p>
    </div>
    <div class="col">
      {# Languages #}
      <div class="stack-collection mb-3">
        <a class="stack-toggler active fw-bold fs-20" href="#">
          Languages
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="stack-group mt-3 show">
          {% for lang in languages %}
          <li class="stack-item px-2 py-3">
            <i class="{{ lang[1] }} mr-2 mr-lg-0 mb-lg-2"></i>
            {{ lang[0] }}
          </li>
          {% endfor %}
        </ul>
      </div>

      {# Frameworks #}
      <div class="stack-collection mb-3">
        <a class="stack-toggler fw-bold fs-20" href="#">
          Frameworks
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="stack-group mt-3">
          {% for framework in frameworks %}
          <li class="stack-item px-2 py-3">
            <i class="{{ framework[1] }} mr-2 mr-lg-0 mb-lg-2"></i>
            {{ framework[0] }}
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="stack-collection mb-3">
        <a class="stack-toggler fw-bold fs-20" href="#">
          Skills
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="stack-group mt-3">
          {% for skill in skills %}
          <li class="stack-item px-2 py-3">{{ skill }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>