<section class="container pt-header-justice" id="projects">
  <h2 class="mt-md-5 fs-48 text-white ff-secondary">Featured Projects</h2>
  <p class="fst-italic fw-light text-primary mb-3 mb-md-5">Check out my previous projects.</p>

  <!-- Projects carousel -->
  <div class="carousel" data-slide="carousel" id="projectsSlide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="project-card">
          <div class="project-cover">
            <img src="./static/images/projects/yes_bot.png" loading="lazy">
          </div>
          <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
            <h3 class="project-title text-dark fw-bold my-3 lh-1">YesBot - A Telegram bot</h3>
            <p class="project-desc text-dark ff-mono fw-normal">
              A telegram bot - a questionnaire that engages users in a series of quiz of very random questions.
            </p>
            <p class="lh-2">
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">Ruby</span>
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">Telegram API</span>
            </p>
            <div class="d-flex mt-4">
              <a class="project-link fw-bold ml-3" href="https://github.com/cyonii/yes-bot" target="_blank">Repo
                <i class="fas fa-code-branch ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="project-card">
          <div class="project-cover">
            <img src="./static/images/projects/jotleaf.png" loading="lazy">
          </div>
          <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
            <h3 class="project-title text-dark fw-bold my-3 lh-1">JotLeaf - A lifestyle blog platform</h3>
            <p class="project-desc text-dark ff-mono fw-normal">
              Jotleaf is a lifestyle blog platform where users can post articles known as "jot". A jot must have an
              image attached and must belong to one or more categories.
            </p>
            <p class="lh-2">
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">Ruby</span>
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">Ruby on Rails</span>
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">Bootstrap</span>
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">CSS (SASS)</span>
            </p>
            <div class="d-flex mt-4">
              <a class="project-link fw-bold" href="https://jleaf.herokuapp.com/" target="_blank">Live link
                <i class="fas fa-external-link-alt ml-1"></i>
              </a>
              <a class="project-link fw-bold ml-3" href="https://github.com/cyonii/jotleaf" target="_blank">Repo
                <i class="fas fa-code-branch ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="project-card">
          <div class="project-cover">
            <img src="./static/images/projects/gaming_shop.png" loading="lazy">
          </div>
          <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
            <h3 class="project-title text-dark fw-bold my-3 lh-1">Gaming Accessories Shop</h3>
            <p class="project-desc text-dark fw-normal">
              An e-commerce web user interface built with HTML and CSS(SCSS)
            </p>
            <p class="lh-2">
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">HTML</span>
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">CSS</span>
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">Bootstrap</span>
            </p>
            <div class="d-flex mt-4">
              <a class="project-link fw-bold"
                href="https://raw.githack.com/cyonii/gaming-accessories-shop/master/index.html" target="_blank">Live
                link
                <i class="fas fa-external-link-alt ml-1"></i>
              </a>
              <a class="project-link fw-bold ml-3" href="https://github.com/cyonii/gaming-accessories-shop"
                target="_blank">Repo
                <i class="fas fa-code-branch ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="project-card">
          <div class="project-cover">
            <img src="./static/images/projects/shooter.png" loading="lazy">
          </div>
          <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
            <h3 class="project-title text-dark fw-bold my-3 lh-1">Space Shooter</h3>
            <p class="project-desc text-dark fw-normal">
              Space Shooter is a space 2D platformer game. The game includes basic game features like collision,
              movement, obstacles, weapon firing, etc.
            </p>
            <p class="lh-2">
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">Javascript</span>
              <span class="bg-secondary text-dark fw-bold px-3 mr-1">Phaser</span>
            </p>
            <div class="d-flex mt-4">
              <a class="project-link fw-bold" href="https://quirky-shaw-565b76.netlify.app/" target="_blank">Live
                link
                <i class="fas fa-external-link-alt ml-1"></i>
              </a>
              <a class="project-link fw-bold ml-3" href="https://github.com/cyonii/shooter" target="_blank">Repo
                <i class="fas fa-code-branch ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-3">
      <button type="button" class="btn mr-1 carousel-control" data-slide-target="#projectsSlide"
        data-slide-ctrl="prev">Prev</button>
      <button type="button" class="btn ml-1 carousel-control" data-slide-target="#projectsSlide"
        data-slide-ctrl="next">Next</button>
    </div>
  </div>
</section>