<footer id="footer">
  <div class="container py-5">
    <p class="mb-0 text-white fs-20 ff-mono">CY Kalu</p>
    <ul class="d-flex flex-wrap text-white ff-mono fs-18 fw-light mt-3">
      <li class="mb-2">
        <a href="https://github.com/cyonii/" target="_blank">
          <i class="fab fa-github"></i>
          Github
        </a>
      </li>
      <li class="mx-2">|</li>
      <li class="mb-2">
        <a href="https://twitter.com/__cypy__/" target="_blank">
          <i class="fab fa-twitter"></i>
          Twitter
        </a>
      </li>
      <li class="mx-2">|</li>
      <li class="mb-2">
        <a href="https://linkedin.com/in/cyonii/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
</footer>