<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>CY Kalu | Portfolio</title>

  <link rel="apple-touch-icon" sizes="180x180" href='favicon/apple-touch-icon.png'>
  <link rel="icon" type="image/png" sizes="32x32" href='favicon/favicon-32x32.png'>
  <link rel="icon" type="image/png" sizes="16x16" href='favicon/favicon-16x16.png'>
  <link rel="manifest" href='favicon/site.webmanifest'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.9.0/devicon.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lexend+Mega&amp;family=Open+Sans:wght@300;400;600&amp;family=Roboto+Mono:wght@200;300;400&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <a id="call-to-scroll" class="bg-dark text-white" href="#about">&darr;</a>
  <header class="bg-dark" id="header">
    <nav class="navbar">
      <div class="container navbar-container">
        <a href="/" class="navbar-avatar">
          <img src="images/cyAvatar.png" alt="CY Kalu">
        </a>

        <div class="navbar-menu">
          <button id="navbar-menu-toggler" type="button" name="button" aria-label="Menu Toggler">
            <span class="bg-white"></span>
            <span class="bg-white"></span>
            <span class="bg-white"></span>
          </button>

          <div class="navbar-nav navbar-collapse">
            <div class="nav-item d-flex"><a href="#about" class="nav-link">Me</a></div>
            <div class="nav-item d-flex"><a href="#projects" class="nav-link">Projects</a></div>
            <div class="nav-item d-flex"><a href="#contact" class="nav-link">Contact</a></div>
            <div class="nav-item nav-social d-flex">
              <a class="social-link" href="https://github.com/cyonii/" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              <a class="social-link" href="https://twitter.com/__cypy__/" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="social-link" href="https://linkedin.com/in/cyonii/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <!-- Intro section -->
    <section class="container pt-header-justice" id="landing">
      <div class="row mt-4">
        <div class="col">
          <h1 class="mega-title text-clip text-gradient-1 fw-bolder lh-1">
            Hello, I am <br>CY Kalu.
          </h1>
          <p class="short-intro text-white ff-mono fw-bold">
            I'm a software developer with high-end potential and proficiency in modern web technologies. I love to
            tranform
            ideas/concepts into functional computer software.
          </p>
        </div>

        <div class="col">
          <h6 class="text-right fw-bolder text-muted"> </h6>
          <div id="experiment" class="ff-mono fw-light">
          </div>
        </div>
      </div>
    </section>

    <!-- About section -->
    <section class="container pt-header-justice pb-md-4" id="about">
      <div class="row mt-5">
        <div class="col mb-5 mb-md-0">
          <h2 class="font-default text-clip text-gradient-2 fw-bolder">What I Do</h2>

          <p class="lh-normal fs-18 ff-mono fw-light mb-3">
            I can help you build smart digital products and web applications with
            high-end proficiency in modern web technologies. I love to transform
            ideas into functional computer software.
          </p>
          <p class="lh-normal fs-18 ff-mono fw-light">
            I am currently open to new job opportunities - I look forward to working and learning with ambitious teams
            that provide room for personal and professional growth and mentorship. I am also open to connections and
            conversations about business and startups.. <br><br>
            If you think I'm a good fit for your team, please
            <a class="d-inline-flex px-3 bg-grey text-dark fw-bold" href="#contact">Get in touch</a>
          </p>
        </div>
        <div class="col">
          <div class="stack-collection mb-3">
            <a class="stack-toggler active fw-bold fs-20" href="#">
              Languages
              <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="stack-group mt-3 show">
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-python-plain mr-2 mr-md-0 mb-md-2"></i>
                Python
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-ruby-plain mr-2 mr-md-0 mb-md-2"></i>
                Ruby
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-javascript-plain mr-2 mr-md-0 mb-md-2"></i>
                Javascript
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-html5-plain mr-2 mr-md-0 mb-md-2"></i>
                HTML
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-css3-plain mr-2 mr-md-0 mb-md-2"></i>
                CSS
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-sass-original mr-2 mr-md-0 mb-md-2"></i>
                SASS
              </li>
            </ul>
          </div>
          <div class="stack-collection mb-3">
            <a class="stack-toggler fw-bold fs-20" href="#">
              Frameworks
              <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="stack-group mt-3">
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-django-plain mr-2 mr-md-0 mb-md-2"></i> Django
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-rails-plain mr-2 mr-md-0 mb-md-2"></i> Rails
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-react-original mr-2 mr-md-0 mb-md-2"></i> React
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-redux-original mr-2 mr-md-0 mb-md-2"></i> Redux
              </li>
              <li class="stack-item fs-18 px-2 py-3">
                <i class="devicon-bootstrap-plain mr-2 mr-md-0 mb-md-2"></i> Bootstrap
              </li>
            </ul>
          </div>
          <div class="stack-collection mb-3">
            <a class="stack-toggler fw-bold fs-20" href="#">
              Skills
              <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="stack-group mt-3">
              <li class="stack-item px-2 py-3">
                Backend
              </li>
              <li class="stack-item px-2 py-3">
                Frontend
              </li>
              <li class="stack-item px-2 py-3">
                Collaboration
              </li>
              <li class="stack-item px-2 py-3">
                Remote coding
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Projects section -->
    <section class="container pt-header-justice" id="projects">
      <h2 class="section-title mt-md-5 text-white ff-secondary">Featured Projects</h2>
      <p class="fst-italic fw-light text-primary mb-3 mb-md-5">Checkout my previous projects.</p>

      <!-- Projects carousel -->
      <div class="carousel" data-slide="carousel" id="projectsSlide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="project-card">
              <div class="project-cover">
                <img src="./images/projects/yes_bot.png" loading="lazy">
              </div>
              <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
                <h3 class="project-title text-dark fw-bold my-3 lh-1">YesBot - A Telegram bot</h3>
                <p class="project-desc text-dark ff-mono fw-normal">
                  A telegram bot - a questionnaire that engages users in a series of quiz of very random questions.
                </p>
                <p class="lh-2">
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Ruby</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Telegram API</span>
                </p>
                <div class="d-flex mt-4">
                  <a class="project-link fw-bold ml-3" href="https://github.com/cyonii/yes-bot" target="_blank">Repo
                    <i class="fas fa-code-branch ml-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="project-card">
              <div class="project-cover">
                <img src="./images/projects/jotleaf.png" loading="lazy">
              </div>
              <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
                <h3 class="project-title text-dark fw-bold my-3 lh-1">JotLeaf - A lifestyle blog platform</h3>
                <p class="project-desc text-dark ff-mono fw-normal">
                  A lifestyle blog where users post 'jot' articles with an image attached to each article and are tagged
                  by categories.
                </p>
                <p class="lh-2">
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Ruby</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Ruby on Rails</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Bootstrap</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">CSS (SASS)</span>
                </p>
                <div class="d-flex mt-4">
                  <a class="project-link fw-bold" href="https://jleaf.herokuapp.com/" target="_blank">Live link
                    <i class="fas fa-external-link-alt ml-1"></i>
                  </a>
                  <a class="project-link fw-bold ml-3" href="https://github.com/cyonii/jotleaf" target="_blank">Repo
                    <i class="fas fa-code-branch ml-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="project-card">
              <div class="project-cover">
                <img src="./images/projects/gaming_shop.png" loading="lazy">
              </div>
              <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
                <h3 class="project-title text-dark fw-bold my-3 lh-1">Gaming Accessories Shop</h3>
                <p class="project-desc text-dark fw-normal">
                  An e-commerce web user interface built with HTML and CSS(SCSS)
                </p>
                <p class="lh-2">
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">HTML</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">CSS</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Bootstrap</span>
                </p>
                <div class="d-flex mt-4">
                  <a class="project-link fw-bold"
                    href="https://raw.githack.com/cyonii/gaming-accessories-shop/master/index.html" target="_blank">Live
                    link
                    <i class="fas fa-external-link-alt ml-1"></i>
                  </a>
                  <a class="project-link fw-bold ml-3" href="https://github.com/cyonii/gaming-accessories-shop"
                    target="_blank">Repo
                    <i class="fas fa-code-branch ml-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="project-card">
              <div class="project-cover">
                <img src="./images/projects/shooter.png" loading="lazy">
              </div>
              <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
                <h3 class="project-title text-dark fw-bold my-3 lh-1">Space Shooter</h3>
                <p class="project-desc text-dark fw-normal">
                  Space Shooter is a space 2D platformer game. The game includes basic game features like collision,
                  movement, obstacles, weapon firing, etc.
                </p>
                <p class="lh-2">
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Javascript</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Phaser</span>
                </p>
                <div class="d-flex mt-4">
                  <a class="project-link fw-bold" href="https://quirky-shaw-565b76.netlify.app/" target="_blank">Live
                    link
                    <i class="fas fa-external-link-alt ml-1"></i>
                  </a>
                  <a class="project-link fw-bold ml-3" href="https://github.com/cyonii/shooter" target="_blank">Repo
                    <i class="fas fa-code-branch ml-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="project-card">
              <div class="project-cover">
                <img src="./images/projects/gaming_shop.png" loading="lazy">
              </div>
              <div class="project-details bg-white mt-4 mt-md-0 px-3 py-3 py-md-3">
                <h3 class="project-title text-dark fw-bold my-3 lh-1">Gaming Accessories Shop</h3>
                <p class="project-desc text-dark fw-normal">
                  An e-commerce web user interface built with HTML and CSS(SCSS)
                </p>
                <p class="lh-2">
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">HTML</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">CSS</span>
                  <span class="bg-secondary text-dark fw-bold px-3 mr-1">Bootstrap</span>
                </p>
                <div class="d-flex mt-4">
                  <a class="project-link fw-bold" href="#" target="_blank">Live link
                    <i class="fas fa-external-link-alt ml-1"></i>
                  </a>
                  <a class="project-link fw-bold ml-3" href="#" target="_blank">Repo
                    <i class="fas fa-code-branch ml-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex mt-3">
          <button type="button" class="btn mr-1 carousel-control" data-slide-target="#projectsSlide"
            data-slide-ctrl="prev">Prev</button>
          <button type="button" class="btn ml-1 carousel-control" data-slide-target="#projectsSlide"
            data-slide-ctrl="next">Next</button>
        </div>
      </div>
    </section>

    <!-- Contact section -->
    <section class="container pt-header-justice" id="contact">
      <div class="row my-md-5 py-4 py-md-5">
        <div class="colss">
          <h5 class="section-title ff-secondary fs-22 text-white fw-bold">Let's Connect</h5>
          <p class="mt-3 ff-monos fs-28 lh-normal fw-light text-white">
            If you have an opportunity for me, or you would like to collaborate
            on a project, feel free to reach out to me.
          </p>
        </div>

        <div class="colss">
          <form method="get" action="#contact">
            <div class="form-group mb-2">
              <input class="form-control" type="text" name="subject" placeholder="Subject">
            </div>

            <div class="form-group mb-2">
              <input class="form-control" type="email" name="email" placeholder="Email">
            </div>

            <div class="form-group mb-2">
              <textarea class="form-control" name="message" rows="8" cols="80" placeholder="Message"></textarea>
            </div>

            <input class="btn btn-lg" type="submit" value="Send">
          </form>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer">
    <div class="container py-5">
      <p class="mb-0 text-white fs-20 ff-mono">CY Kalu</p>
      <ul class="d-flex flex-wrap text-white ff-mono fs-18 fw-light mt-3">
        <li class="mb-2">
          <a href="https://github.com/cyonii/" target="_blank">
            <i class="fab fa-github"></i>
            Github
          </a>
        </li>
        <li class="mx-2">|</li>
        <li class="mb-2">
          <a href="https://twitter.com/__cypy__/" target="_blank">
            <i class="fab fa-twitter"></i>
            Twitter
          </a>
        </li>
        <li class="mx-2">|</li>
        <li class="mb-2">
          <a href="https://linkedin.com/in/cyonii/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </footer>

  <script type="text/javascript" src="index.js"></script>
</body>

</html>